@import '../global.scss';


    .Contact {
        background-color:#f4f5f0;
        display: flex;
      
        .left {
          flex: 1;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
      
            @include phone{
              display: none;
            }
          img {

            height: 550px;
            width: 950px;
            
            text-align:center;

          }
        }

        .right {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      
          h2 {
            font-size: 30px;
            border-style: solid;
            padding: 10px;
            box-shadow: 12px 12px 2px 1px rgb(167, 164, 164);
          }
      
          form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
          }
            input {
              width: 300px;
              height: 30px;
              font-size: 14px;
              border-style: solid;
              padding: 10px;
              box-shadow: 12px 12px 2px 1px rgb(167, 164, 164);
              @include phone{
                width: 150px;
                
              }
            }
            
      
            textarea {
              width: 300px;
              height: 200px;
              font-size: 14px;
              border-style: solid;
              padding: 10px;
              box-shadow: 12px 12px 2px 1px rgb(167, 164, 164);
              @include phone{
                width: 150px;
                height: 100px;
              }
      
            }
      
            .button-contact {
              width: 120px;
              height: 30px;
              color: white;
              background-color: $mainColor;
              border: none;
              border-radius: 10px;
              font-weight: 500;
              cursor: pointer;
      
              &:focus {
                outline: none;
              }
            }
      
            span {
              color: $mainColor;
            }
            a{
              text-decoration: none;
              font-size: 40px;
            }

            .email{
              
              font-size: 20px;
            }
          }
        }
      
    
